@import "./partials/font";
@import "./partials/variable";
@import "./partials/mixin";


a {
    text-decoration: none;

}

body {
    width: 100%;
    box-sizing: border-box;
}

// HEADER
#header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
}


.top-menu {

    background-color: $background-color-main;
}

.top-menu-left {
    float: left !important;
    padding-left: 20px;
    padding-top: 10px;
}

.top-menu-right {
    float: right !important;
    padding-top: 10px;
}

.menu-social li {
    display: inline-block;
    padding: 10px;

}

.nav-item {
    text-transform: uppercase;
   

}

.nav-link,
.dropdown-item {
    color: black;
}

.nav-link:hover {
    color: red;
}

.dropdown-item:hover {
    color: red;
}

.dropdown-menu {
    height: 300px;
    position: absolute;
    transition: all 0.5s ease-in;
    visibility: hidden;
}

.dropdown-menu li {
    background-color: red
}

.dropdown-item {
    transition: all 0.3s ease-in;
    border-bottom: 1px solid grey;
    height: 50px;
}

.nav-item:hover .dropdown-item {
    visibility: visible;
}


// MAIN
#main {
    margin-top: 150px;
}

// BANNER
.home-banner {
    padding-top: 100px;
    background-color: $background-color-main;
    padding-bottom: 100px;
    padding-left: 20px;
    margin-bottom: 80px;
}

.banner-text h2 {
    font-size: 45px;
     @include font-main;
}

.banner-text p {
    color: $color-main;
    @include font-sub;
    font-size: 20px;
}

.banner-img {
    text-align: right;
    padding-right: 50px;
}

.banner-img img {
    max-width: 100%;
}

.btn-banner {
    
    padding: 15px;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    background-color: white;
    transition: all 1s linear;
}

.btn-banner:hover {
    color: white;
    background-color: red;
}

// HOT-PRODUCTS
.hot-deals {
    margin-bottom: 60px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

}

.hot-deals-item {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.hot-deals-item img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}

.hot-deals-item-text {
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    height: 100%;
}

.hot-deals-item-text h4 {
    @include main-title-h4;
    margin-top: 10px;
    margin-left: 50px;
    left: 20px;
}

.hot-deals-item-text a {
    bottom: 50px;
    position: absolute;
    margin-left: 50px;
    color: #222222;
    transition: all 1s linear;
    font-weight: 600;
}

.hot-deals-item-text a:hover {
    color: red;
}

// FEARTURED-PRODUCTS
.featured-products-section {
    margin-bottom: 60px;
}

.featured-products {
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 30px;
}

.featured-products-title {
    @include main-title;
    
}

.featured-products-item img {
    max-width: 100%;
}

.featured-products-title h4 {
    @include main-title-h4;
    @include font-main;
}

.featured-products-title p {
    @include main-title-p;
    @include font-sub;
}

.featured-products-item {
    position: relative;
    text-align: center;
}

.featured-products-item-text {
    text-align: center;
}

.featured-products-item-text h4 {
    color: black;
    font-size: 18px;
}

.featured-products-item-text h5 {
    font-size: 18px;
    color: $color-main;
}

.featured-products-item-text h4:hover {
    color: red;
}

.featured-products-item-icons {
    @include product-icons;
}

.featured-products-item:hover .featured-products-item-icons {
    @include product-icons-hover;
}

.featured-products-item-icons .fa-heart {
    @include single-icon;
    transition: all 1s ease;

}

.featured-products-item-icons .fa-cart-shopping {
    @include single-icon;
    transition: all 1s ease;

}

.featured-products-item-icons .fa-heart:hover {
    @include product-icons-hover;
    color: white;
    background: red;
}

.featured-products-item:hover .fa-cart-shopping:hover {
    @include product-icons-hover;
    color: white;
    background: red;
}





// TIME-SECTION
.time-section {
    background-color: #e8f0f2;
    padding-bottom: 80px;
    padding-top: 40px;
}

.time-title {
    margin-bottom: 50px;
    text-align: center;
}

.time-title h4 {
    @include main-title-h4;
    @include font-main;
}

.time-title p {
    @include main-title-p;
    @include font-sub;
    margin-bottom:30px;
}

.time-title a {
    padding: 15px 25px;

    background-color: red;
    color: white;
    border: 1px solid red;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 80px;
    transition: all 1s ease;
}

.time-title a:hover {
    background-color: white;
    color: red;
}

.time-details-part {
    height: 150px;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 25px 20px;
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 40px;
}

.time-details-des {
    margin-right: 40px;
    width: 25%;
}

.time-details-des:last-child {
    margin-right: 0px;
}

.time-details p {
    color: $color-main;
}

// LATEST PRODUCTS
.latest-products {
    margin-bottom: 80px;
}

.latest-products-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.latest-products-title h4 {
    @include main-title-h4;
    @include font-main;
}

.latest-products-title p {
    @include main-title-p;
    @include font-sub;
}

.list-products-item {
    position: relative;
}

.list-products-item-icons {
    @include product-icons;
}

.list-products-item:hover .list-products-item-icons {
    @include product-icons-hover;
}

.list-products-item h4 {
    color: black;
    text-align: center;
    font-size: 18px;
}

.list-products-item h4:hover {
    color: red;
}

.list-products-item h5 {
    color: $color-main;
    font-size: 18px;
    text-align: center;
}


.latest-products .fa-cart-shopping,
.latest-products .fa-heart,
.latest-products .fa-magnifying-glass {
    @include single-icon;
}

.latest-products .fa-cart-shopping:hover {
    color: white;
    background-color: red;
}

.latest-products .fa-magnifying-glass:hover {
    color: white;
    background-color: red;
}

.latest-products .fa-heart:hover {
    color: white;
    background-color: red;
}

.latest-product {
    text-align: center;
}
//TOP BRANDS
.top-brands {
    margin-top: 20px;
    background-color: $background-color-main;
    margin-bottom: 80px;
    padding: 30px;
}

.top-brands-title {
    text-align: center;
    margin-bottom: 30px;
}

.top-brands-title h4 {
    @include main-title-h4;
    @include font-main;
}

.top-brands-title p {
    @include main-title-p;
    @include font-sub;
}

.top-brands-inner {
    padding-left: 10%;
    text-align: center;
}

.top-brands-item {
    padding: 10px 30px;
}

.top-brands-item img {
    max-width: 100%;
    opacity: 0.5;
}

.top-brands-item img:hover {
    opacity: 1.0;
}

// MOST SEARCHED: 
.most-searched-products-title {
    text-align: center;
    margin-bottom: 30px;
}

.most-searched-products-title h4 {
    @include main-title-h4;
    @include font-main;
}

.most-searched-products-title p {
    @include main-title-p;
    @include font-sub;
}

.most-searched-products-item-img {
    margin-right: 10px;
}

.most-searched-products-item-img img {
    max-width: 100%;
}

.most-searched-products-item-text {
    margin-right: 10px;
}

.price {
    color: $color-main;
    font-weight: 600;
    font-size: 16px;
}

.product-name {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    text-transform: capitalize;

}

.most-searched-products .col-12 {
    margin-bottom: 20px;
}

.most-searched {
    text-align: center;
}


// FOOTER
.footer-section {
    background-color: $background-color-main;
    padding-top: 50px;
    padding-bottom:80px;
}
.footer-item-title {padding-bottom: 15px;}

.insta-item li {
    margin-right: 4px;
    margin-bottom: 4px;
}

.footer-section .button {
    background-color: red;
    color: white;
    width: 35px;
    height: 35px;
    border: 1px solid;
}

.footer-bottom {
    padding-top: 40px;
}

.footer-bottom p {
    text-align: center;
}

.footer-item .menu-social {
    margin-left: -20px;
}



// FOR MOBILE

@media only screen and (max-device-width: 767px) {
#main {margin-top:100px;}
.top-menu {display:none;}
.home-banner {
    padding-top:50px;
}
.banner-text p{text-align: justify;}
.btn-banner {text-align: center;}
.banner-img {padding-top:40px;}
.hot-deals  {margin-bottom:30px;}
.hot-deals-item-text h4 {
    font-size: 20px;
    margin-left: 30px;
}
.hot-deals-item-text a {
    margin-left:30px;
    bottom: 25px;
}
.featured-products-section {margin-bottom:50px;} 
.time-section {padding-bottom: 40px;}
.time-details-part {width: 100%;}
}
.latest-products{margin-bottom:60px;}
.top-brands {margin-bottom:60px;}
.top-brands-inner {padding-left:0;}

// FOR TABLET
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .hot-deals-item-text{
        left: 100px;
    }
}
